<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Créer un séjour</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- right column -->
          <div class="col-md-6">
            <!-- general form elements disabled -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Ajout d'un séjour</h3>
              </div>
              <!-- /.card-header -->

              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Nom du séjour</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Entrez le nom du séjour"
                        v-model="name"
                      />
                    </div>
                  </div>
                </div>

                <div class="row" hidden>
                  <div class="form-group col-sm-6">
                    <label class="col-form-label">
                      <i class="fas fa-camera"></i> Photo
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputSuccess"
                      placeholder="Choisir une image"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Type de séjour</label>
                      <select class="form-control" v-model="stayType">
                        <option>Séjour en pension complète</option>
                        <option>Séjour en gestion libre</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row" hidden>
                  <div class="form-group col-sm-6">
                    <label class="col-form-label">
                      <i class="fas fa-calendar"></i> Date de début
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputSuccess"
                      placeholder="Choisir une date de début"
                    />
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="col-form-label">
                      <i class="fas fa-calendar"></i> Date de fin
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputSuccess"
                      placeholder="Choisir une date de fin"
                    />
                  </div>
                </div>

                <!-- Date range -->
                <div class="form-group">
                  <label>Durée du séjour:</label>

                  <div class="input-group col-sm-6">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservation" />
                  </div>
                  <!-- /.input group -->
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label class="col-form-label">
                      <i class="fas fa-users"></i> Nombre de places
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputSuccess"
                      placeholder="Entrez le nombre de places"
                      v-model="totalPlaces"
                    />
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button type="button" class="btn btn-primary" v-on:click="addStay()">Créer le séjour</button>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";

export default {
  name: "AddStay",
  props: {},
  data: function() {
    return {
      name: "",
      startDate: "",
      endDate: "",
      stayType: "",
      totalPlaces: "",
      booker: "5efcb9c54381f7dba6e0fb88"
    };
  },
  methods: {
    addStay: function() {
      // 'name': stay.name,
      // 'startDate': stay.startDate,
      // 'endDate': stay.endDate,
      // 'stayType': stay.stayType,
      // 'totalPlaces': stay.totalPlaces.toString(),
      // 'booker': stay.booker
      //  "Pension complète"?"pension_complete":"gestion_libre";

      //on affiche tous les elements renseignes

      this.stayType =
        this.stayType === "Séjour en pension complète"
          ? "pension_complete"
          : "gestion_libre";

      //console.log('elements renseignés' + this.name+' '+this.stayType+' '+this.endDate+' '+this.stayType+' '+this.totalPlaces+' '+this.booker);

      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/organiser/addStay", {
          name: this.name,
          startDate: this.startDate,
          endDate: this.endDate,
          stayType: this.stayType,
          totalPlaces: this.totalPlaces,
          booker: this.booker
        })
        .then(response => {
          // on redirige simplement sur la liste des séjours qui va afficher tous les séjours
          // y compris celui que lon vient de créer
          this.$router.push({ name: "home" });
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    selectDates: function() {
      $("#reservation").daterangepicker({
        locale: {
          format: "DD/MM/YYYY"
        }
      });

      var vm = this;
      $("#reservation").on("apply.daterangepicker", function(ev, picker) {
        vm.startDate = picker.startDate.format("DD/MM/YYYY");
        vm.endDate = picker.endDate.format("DD/MM/YYYY");
        console.log(
          "objet apres la mise a jour ",
          vm.startDate + " - " + vm.endDate
        );
      });
    }
  },
  mounted() {
    this.selectDates();
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
