<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Comptabilité</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Factures</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Factures</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <!-- Date range -->
          <div class="form-group" hidden>
            <label>Période:</label>

            <div class="input-group col-sm-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="text" class="form-control float-right" id="reservation" />
            </div>
            <!-- /.input group -->
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-primary card-outline card-tabs">
                <div class="card-header p-0 pt-1 border-bottom-0">
                  <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        id="custom-tabs-two-home-tab"
                        data-toggle="pill"
                        href="#custom-tabs-two-home"
                        role="tab"
                        aria-controls="custom-tabs-two-home"
                        aria-selected="true"
                      >Recap Facture</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="custom-tabs-two-profile-tab"
                        data-toggle="pill"
                        href="#custom-tabs-two-profile"
                        role="tab"
                        aria-controls="custom-tabs-two-profile"
                        aria-selected="false"
                      >Detail Paiement</a>
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        id="custom-tabs-two-messages-tab"
                        data-toggle="pill"
                        href="#custom-tabs-two-messages"
                        role="tab"
                        aria-controls="custom-tabs-two-messages"
                        aria-selected="false"
                      >Consolidation Statistique</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="custom-tabs-two-home"
                      role="tabpanel"
                      aria-labelledby="custom-tabs-two-home-tab"
                    >
                      <!-- ici nous avons le contenu du premier tab -->

                      <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped col-sm-12">
                          <thead>
                            <tr>
                              <th>Jour</th>
                              <th>N° Facture</th>
                              <th>Total Séjour</th>
                              <th>Accompte</th>
                              <th>Net à payer</th>
                              <th>Reste à payer</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="bill in bills" :key="bill">
                              <td>{{formatDate(bill.day)}}</td>
                              <td>{{bill.billNumber}}</td>
                              <td>{{bill.coutTotalSejour}}</td>
                              <td>{{bill.montantPayer}}</td>
                              <td>0</td>
                              <td>0</td>
                              <td>
                                <button
                                  type="button"
                                  class="btn btn-sm bg-teal ml-2"
                                  data-toggle="modal"
                                  data-target="#modal-edit-userstay"
                                  v-on:click="showBillDetails(bill)"
                                >
                                  <!-- la visualisation doit renvoyer sur sejour detail mais ca va
                                  cailler un peu vu que ce nest pas le meme modele de données-->
                                  <i class="fas fa-eye"></i>
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-sm bg-teal ml-2"
                                  v-on:click="deleteBill(bill.id)"
                                >
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Jour</th>
                              <th>N° Facture</th>
                              <th>Total Séjour</th>
                              <th>Accompte</th>
                              <th>Net à payer</th>
                              <th>Reste à payer</th>
                              <th>Actions</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="custom-tabs-two-profile"
                      role="tabpanel"
                      aria-labelledby="custom-tabs-two-profile-tab"
                    >
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Jour</th>
                            <th>N° Facture</th>
                            <th>Espèces</th>
                            <th>Chèques bancaires</th>
                            <th>ANCV</th>
                            <th>Club</th>
                            <th>
                              Hebergement/
                              <br />Restauration
                            </th>
                            <th>Bar</th>
                            <th>Supplément</th>
                            <th>Supplément Réveillon</th>
                            <th>Forfaits facturés</th>
                            <th>Remises</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="bill in bills" :key="bill">
                            <td>{{formatDate(bill.day)}}</td>
                            <td>{{bill.billNumber}}</td>
                            <td>{{bill.coutTotalSejour}}</td>
                            <td>{{bill.montantPayer}}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td style="min-width: 50px">0</td>
                            <td>0</td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-sm bg-teal ml-2"
                                data-toggle="modal"
                                data-target="#modal-edit-userstay"
                                v-on:click="showBillDetails(bill)"
                              >
                                <!-- la visualisation doit renvoyer sur sejour detail mais ca va
                                cailler un peu vu que ce nest pas le meme modele de données-->
                                <i class="fas fa-eye"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm bg-teal ml-2"
                                v-on:click="deleteBill(bill.id)"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Jour</th>
                            <th>N° Facture</th>
                            <th>Espèces</th>
                            <th>Chèques bancaires</th>
                            <th>ANCV</th>
                            <th>Club</th>
                            <th>
                              Hebergement/
                              <br />Restauration
                            </th>
                            <th>Bar</th>
                            <th>Supplément</th>
                            <th>Supplément Réveillon</th>
                            <th>Forfaits facturés</th>
                            <th>Remises</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="custom-tabs-two-messages"
                      role="tabpanel"
                      aria-labelledby="custom-tabs-two-messages-tab"
                    >
                      <table id="example1" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Jour</th>
                            <th>N° Facture</th>
                            <th>Total Séjour</th>
                            <th>Accompte</th>
                            <th>Net à payer</th>
                            <th>Reste à payer</th>
                            <th>Espèces</th>
                            <th>Chèques bancaires</th>
                            <th>ANCV</th>
                            <th>Club</th>
                            <th>
                              Hebergement/
                              <br />Restauration
                            </th>
                            <th>Bar</th>
                            <th>Supplément</th>
                            <th>Supplément Réveillon</th>
                            <th>Forfaits facturés</th>
                            <th>Remises</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="bill in bills" :key="bill">
                            <td>{{formatDate(bill.day)}}</td>
                            <td>{{bill.billNumber}}</td>
                            <td>{{bill.coutTotalSejour}}</td>
                            <td>{{bill.montantPayer}}</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td style="min-width: 50px">0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-sm bg-teal ml-2"
                                data-toggle="modal"
                                data-target="#modal-edit-userstay"
                                v-on:click="showBillDetails(bill)"
                              >
                                <!-- la visualisation doit renvoyer sur sejour detail mais ca va
                                cailler un peu vu que ce nest pas le meme modele de données-->
                                <i class="fas fa-eye"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm bg-teal ml-2"
                                v-on:click="deleteBill(bill.id)"
                              >
                                <i class="fas fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Jour</th>
                            <th>N° Facture</th>
                            <th>Total Séjour</th>
                            <th>Accompte</th>
                            <th>Net à payer</th>
                            <th>Reste à payer</th>
                            <th>Espèces</th>
                            <th>Chèques bancaires</th>
                            <th>ANCV</th>
                            <th>Club</th>
                            <th>
                              Hebergement/
                              <br />Restauration
                            </th>
                            <th>Bar</th>
                            <th>Supplément</th>
                            <th>Supplément Réveillon</th>
                            <th>Forfaits facturés</th>
                            <th>Remises</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";

export default {
  name: "Pricing",
  props: {},
  // components: {
  //    ValidationProvider
  // },
  data: function() {
    return {
      bills: [],
      pricingsEte: [],
      pricingsHiver: [],
      holidays: [],
      pricingToUpdate: {},
      holidayToUpdate: {},
      fixSummerAmount: 600,
      winterBsTax: 10,
      winterHsTax: 20,
      summerTax: 30,
      stats: [],
      startDate: "2020/07/01",
      endDate: "2020/07/04"
      // amount: 0,
      // firstName: null,
    };
  },
  methods: {
    deleteBill: function(billId) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/bill/" + billId)
        .then(response => {
          // JSON responses are automatically parsed.
          this.fetchBills();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    formatDate: function(value) {
      return moment(value, "YYYY-MM-DD").format("DD/MM/YYYY");
    },
    showBillDetails: function(bill) {
      this.$router.push({ name: "bill_saved", params: { bill: bill } });
    },
    selectHoliday: function() {
      console.log("le holiday sélectionné", this.holidayToUpdate);
      this.holidayToUpdate = Object.assign({}, holiday);
      var partStart = this.holidayToUpdate.startDate.match(/(\d+)/g);
      var partEnd = this.holidayToUpdate.endDate.match(/(\d+)/g);
      var format = "DD/MM/YYYY";
      var start = moment(
        partStart[2] + "-" + partStart[1] + "-" + partStart[0]
      );
      var end = moment(partEnd[2] + "-" + partEnd[1] + "-" + partEnd[0]);

      function cb(start, end) {
        $("#reservation span").html(
          start.format(format) + " - " + end.format(format)
        );
      }

      $("#reservation").daterangepicker(
        {
          dateFormat: "dd-mm-yy",
          startDate: start,
          endDate: end
        },
        cb
      );

      var vm = this;
      //passing a callback
      $("#reservation").on("apply.daterangepicker", function(ev, picker) {
        vm.startDate = picker.startDate.format(format);
        vm.endDate = picker.endDate.format(format);
        console.log("objet apres la mise a jour ", vm.holidayToUpdate);
      });
      cb(start, end);
    },

    fetchBills() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/bill")
        .then(response => {
          this.bills = response.data;
          console.log("les factures recuperees sont : ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    }
  },
  mounted() {
    this.fetchBills(),
      $("#example1").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#example2").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#vaccancesScolaires").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      });
    //Date range picker
    $("#reservation").daterangepicker();
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
