<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Chalet</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Chalet</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Effectifs chalet</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <!-- Date range -->
          <div class="form-group">
            <label>Période:</label>

            <div class="input-group col-sm-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
              <input type="text" class="form-control float-right" id="reservation" />
            </div>
            <!-- /.input group -->
          </div>

          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Jour</th>
                <th>Déjeuner adulte</th>
                <th>Déjeuner enfant</th>
                <th>Déjeuner petit enfant</th>
                <th>Diner adulte</th>
                <th>Diner enfant</th>
                <th>Diner petit enfant</th>
                <th>Nuitée adulte</th>
                <th>Nuitée enfant</th>
                <th>Nuitée petit enfant</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="stat in stats" :key="stat">
                <td>{{stat.day}}</td>
                <td>{{stat.dejeunerAdulte}}</td>
                <td>{{stat.dejeunerEnfant}}</td>
                <td>{{stat.dejeunerPetitEnfant}}</td>
                <td>{{stat.dinerAdulte}}</td>
                <td>{{stat.dinerEnfant}}</td>
                <td>{{stat.dinerPetitEnfant}}</td>
                <td>{{stat.nuiteeAdulte}}</td>
                <td>{{stat.nuiteeEnfant}}</td>
                <td>{{stat.nuiteePetitEnfant}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Jour</th>
                <th>Déjeuner adulte</th>
                <th>Déjeuner enfant</th>
                <th>Déjeuner petit enfant</th>
                <th>Diner adulte</th>
                <th>Diner enfant</th>
                <th>Diner petit enfant</th>
                <th>Nuitée adulte</th>
                <th>Nuitée enfant</th>
                <th>Nuitée petit enfant</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "Pricing",
  props: {},
  // components: {
  //    ValidationProvider
  // },
  data: function() {
    return {
      pricingsEte: [],
      pricingsHiver: [],
      holidays: [],
      pricingToUpdate: {},
      holidayToUpdate: {},
      fixSummerAmount: 600,
      winterBsTax: 10,
      winterHsTax: 20,
      summerTax: 30,
      stats: [],
      startDate: '01/07/2020',
      endDate: '04/07/2020',
      // amount: 0,
      // firstName: null,
    };
  },
  methods: {
    fetchMealStats: function() {
      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/admin/generateMealsStats", {
          startDate: this.startDate,
          endDate: this.endDate
        })
        .then(response => {
          this.stats = response.data;
          console.log("les stats recupéres ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    selectHoliday: function() {
      // console.log("le holiday sélectionné", this.holidayToUpdate);
      // this.holidayToUpdate = Object.assign({}, holiday);
      // var partStart = this.holidayToUpdate.startDate.match(/(\d+)/g);
      // var partEnd = this.holidayToUpdate.endDate.match(/(\d+)/g);
      // var format = "DD/MM/YYYY"
      // var start = moment(
      //   partStart[2] + "-" + partStart[1] + "-" + partStart[0]
      // );
      // var end = moment(partEnd[2] + "-" + partEnd[1] + "-" + partEnd[0]);

      // function cb(start, end) {
      //   $("#reservation span").html(
      //     start.format(format) + " - " + end.format(format)
      //   );
      // }

      // $("#reservation").daterangepicker(
      //   {
      //     dateFormat: "dd-mm-yy",
      //     startDate: start,
      //     endDate: end
      //   },
      //   cb
      // );

      // var vm = this;
      // //passing a callback
      // $("#reservation").on("apply.daterangepicker", function(ev, picker) {
      //   vm.startDate = picker.startDate.format(format);
      //   vm.endDate = picker.endDate.format(format);
      //   console.log("objet apres la mise a jour ", vm.holidayToUpdate);
      // });
      // cb(start, end);

      this.startDate =  moment(new Date()).format("DD/MM/YYYY")
      this.endDate =  moment(new Date()).format("DD/MM/YYYY")


      $("#reservation").daterangepicker({
        locale: {
          format: "DD/MM/YYYY"
        }
      });

      var vm = this;
      $("#reservation").on("apply.daterangepicker", function(ev, picker) {
        vm.startDate = picker.startDate.format("DD/MM/YYYY");
        vm.endDate = picker.endDate.format("DD/MM/YYYY");
        console.log(
          "objet apres la mise a jour ",
          vm.startDate + " - " + vm.endDate
        );
        vm.fetchMealStats()
      });




    },

    fetchPrices() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/fetchPricing?periode=ete")
        .then(response => {
          this.pricingsEte = response.data;
          console.log("la reponse est : ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/fetchPricing?periode=hiver")
        .then(response => {
          this.pricingsHiver = response.data;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    getCategoryLabel: function(tag) {
      var label = "";

      if (tag === "zero_cinq") label = "Petit enfant 0 à 5 ans";
      else if (tag === "six_neuf") label = "Enfant de 6 à 9 ans inclus";
      else if (tag === "dix_douze")
        label = "Grand enfant de 10 à 12 ans inclus";
      else if (tag === "treize_dixsept") label = "Ados de 13 à 17 ans inclus";
      else if (tag === "dixhuit_vingtneuf")
        label = "Etudiant de 18 à 29 ans inclus";
      else if (tag === "dixhuit_soixantequatre")
        label = "Adulte de 18 à 64 ans inclus";
      else if (tag === "soixantecinq_plus") label = "Ancien 65 et + ";

      return label;
    }
  },
  mounted() {
    this.fetchPrices(),
      this.fetchMealStats(),
      this.selectHoliday(),
      $("#example1").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#example2").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#vaccancesScolaires").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      });
    //Date range picker
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
