<template>
    
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Details du séjour</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Details du séjour</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">

        <h3>Participants</h3>

        <div class="card-body pb-0">

          
            <div class="row">
              <div class="card bg-light col-3">
                <div class="card-header text-muted border-bottom-0">
                  Groupe 1
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead"><b>Cout du séjour : 750€</b></h2>
                      <h2 class="lead"><b>Accomptes versés: 225€</b></h2>
                      <h2 class="lead"><b>Montant dû : 525€</b></h2>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">

                    <button type="button" class="btn btn-sm bg-teal" data-toggle="modal" data-target="#modal-default">  Verser un accompte </button>

                    <a href="" class="btn btn-sm btn-primary"  v-on:click="editBill"> Editer la facture </a>
                  </div>
                </div>
              </div>
            </div>


          <div  class="row d-flex align-items-stretch">

            <div v-for="user in stay.users" :key="user" class="col-3 align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                 
                </div>
                <div class="card-body pt-0">
                  <div class="row">

                      <div class="col">
                        <h2 class="lead"><b>{{user.nom}} {{user.prenom}}  : {{user.dateNaissance}}  </b></h2>
                        <h2 class="lead"><b>{{user.adhesion}} </b></h2>
                      </div>

                     

                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
        
       <!-- \ <div class="fab" v-on:click="addProduct"> + </div> -->

         
        <!-- <div class="fab2" v-on:click="showStayDetail"> + </div> -->

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <li class="page-item"><a class="page-link" href="#">7</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->




      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Versement d'un accompte</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Type de paiement</label>
                    <select class="form-control">
                      <option>Espèces</option>
                      <option>Chèque vaccance</option>
                      <option>Virement</option>
                      <option>Chèque</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Montant de l'accompte</label>
                    <input type="text" class="form-control" placeholder="Entrez le montant">
                  </div>
                </div>
              </div>
            
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>N° de chèque</label>
                    <input type="text" class="form-control" placeholder="Entrez le numéro du chèque">
                  </div>
                </div>
              </div>

            
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nom de la banque</label>
                    <input type="text" class="form-control" placeholder="Entrez le nom de la banque">
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Débiteur</label>
                    <input type="text" class="form-control" placeholder="Entrez le nom du débiteur">
                  </div>
                </div>
              </div>




            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary">Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
export default {
    name: "EditUserStay",
    props: ['stay'],
    data: function() {
      return {

      }
    },computed: {
      iconUrl () {
        return require('@/assets/modele_facture.png')
      }
    },
    methods: {
      addProduct: function(event){
        alert('Ma fonction est bel et bien appelée and event name = '+ event.target.tagName)
      },
      editBill: function(event){
         // window.open( iconUrl(), "_blank");    
      }
    }
}
</script>

<style>

.fab2 {
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   left: 50px;
   bottom: 50px;
}
.fab {
   width: 70px;
   height: 70px;
   background-color: red;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 50px;
   bottom: 50px;
}
 
.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
</style>
