<template>
    <div>
        <footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="http://www.schuss-valentinois.com/">Schuss Valentinois</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
    </div>
</template>

<script>
export default {
    name: "footer"
}
</script>