<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Historique des transactions financieres</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Transactions</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

            <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Paiements</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Montant</th>
                <th>Type de paiement</th>
                <th>Numero cheque</th>
                <th>Banque</th>
                <th>Débiteur</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  v-for="deposit in finances.paiements" :key="deposit" >
                <td>{{deposit.montant}}</td>
                <td>{{deposit.typePaiement}}</td>
                <td>{{deposit.numeroCheque}}</td>
                <td>{{deposit.banque}}</td>
                <td>{{deposit.debiteur}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    data-toggle="modal"
                    data-target="#modal-default"
                    v-on:click="deleteAccompte(deposit)"
                  >
                    
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Montant</th>
                <th>Type de paiement</th>
                <th>Numero cheque</th>
                <th>Banque</th>
                <th>Débiteur</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Accomptes</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Montant</th>
                <th>Type de paiement</th>
                <th>Numero cheque</th>
                <th>Banque</th>
                <th>Débiteur</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="deposit in finances.accomptes" :key="deposit">
                <td>{{deposit.montant}}</td>
                <td>{{deposit.typePaiement}}</td>
                <td>{{deposit.numeroCheque}}</td>
                <td>{{deposit.banque}}</td>
                <td>{{deposit.debiteur}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    data-toggle="modal"
                    data-target="#modal-default"
                    v-on:click="deleteAccompte(deposit)"
                  >
                    
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Montant</th>
                <th>Type de paiement</th>
                <th>Numero cheque</th>
                <th>Banque</th>
                <th>Débiteur</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


         <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Remises</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Montant</th>
                <th>Pourcentage</th>
                <th>Explication</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="discount in finances.discounts" :key="discount">
                <td>{{discount.montant}}</td>
                <td>{{discount.pourcentage}}</td>
                <td>{{discount.explication}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    data-toggle="modal"
                    data-target="#modal-default"
                    v-on:click="deleteRemise(discount)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Montant</th>
                <th>Pourcentage</th>
                <th>Explication</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->



         <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Supplements</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Montant</th>
                <th>Libelle</th>
                <th>Type Supplément</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="extracost in finances.extracosts" :key="extracost">
                <td>{{extracost.montant}}</td>
                <td>{{extracost.libelle}}</td>
                <td>{{ extracost.typeSupplement==='other'?'Autre': 'Bar'}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    data-toggle="modal"
                    data-target="#modal-default"
                    v-on:click="deleteSupplement(extracost)"
                  >
                   
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Montant</th>
                 <th>Libelle</th>
                <th>Type Supplément</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

  
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";

export default {
  name: "Pricing",
  props: ["stay", "user"],
  // components: {
  //    ValidationProvider
  // },
  data: function() {
    return {
      finances: {}
    };
  },
  methods: {
    //j'ai besoin d'un petit service qui me recupere toutes les informations dont jai besoin
    fetchFinancialDetails() {
      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/admin/fetchFinancialDetails",{
          user : this.user.id,
          stay : this.stay.id
        })
        .then(response => {
          this.finances = response.data;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    //la je fais un service pour supprimer un accompte donc un deposit avec son id
    deleteAccompte(deposit) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/deposit/"+deposit.id,{
          user : this.user.id,
          stay : this.stay.id
        })
        .then(response => {
          this.fetchFinancialDetails()
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    deleteSupplement(extracost) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/extracost/"+extracost.id,{
          user : this.user.id,
          stay : this.stay.id
        })
        .then(response => {
          this.fetchFinancialDetails()
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    deleteRemise(discount) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/discount/"+discount.id,{
          user : this.user.id,
          stay : this.stay.id
        })
        .then(response => {
          this.fetchFinancialDetails()
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
  },
  mounted() {
      this.fetchFinancialDetails(),
      $("#example1").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#example2").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      });
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
