<template>
    
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion des tarifs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item active">Gestion des tarifs</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tarifs Hiver applicables 2019-2021</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Catégorie</th>
                  <th>Chalet Repas</th>
                  <th>Chalet Nuitée</th>
                  <th>BS Repas</th>
                  <th>BS Nuitée</th>
                  <th>Adhésion Séjour</th>
                  <th>Adhésion W-E</th>
                  <th>F 1J</th>
                  <th>F 2J</th>
                  <th>F 3J</th>
                  <th>F 4J</th>
                  <th>F 5J</th>
                  <th>F 6J</th>
                  <th>F 7J</th>
                  <th>F 8J</th>
                  <th>F 9J</th>
                  <th>F 10J</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="pricing in pricingsHiver" :key="pricing" >
                  <td>{{getCategoryLabel(pricing.categorie)}}</td>
                  <td>{{pricing.chaletRepas}}</td>
                  <td>{{pricing.chaletNuitee}}</td>
                  <td>{{pricing.basseSaisonRepas}}</td>
                  <td>{{pricing.basseSaisonNuitee}}</td>
                  <td>{{pricing.adhesionSejour}}</td>
                  <td>{{pricing.adhesionWeekEnd}}</td>
                  <td>{{pricing.forfait1jour}}</td>
                  <td>{{pricing.forfait2jours}}</td>
                  <td>{{pricing.forfait3jours}}</td>
                  <td>{{pricing.forfait4jours}}</td>
                  <td>{{pricing.forfait5jours}}</td>
                  <td>{{pricing.forfait6jours}}</td>
                  <td>{{pricing.forfait7jours}}</td>
                  <td>{{pricing.forfait8jours}}</td>
                  <td>{{pricing.forfait9jours}}</td>
                  <td>{{pricing.forfait10jours}}</td>
                  <td><button type="button" class="btn btn-sm bg-teal" data-toggle="modal" data-target="#modal-default"  v-on:click="selectPricing(pricing)"><i class="fas fa-pen"></i> </button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Catégorie</th>
                  <th>Chalet Repas</th>
                  <th>Chalet Nuitée</th>
                  <th>BS Repas</th>
                  <th>BS Nuitée</th>
                  <th>Adhésion Séjour</th>
                  <th>Adhésion W-E</th>
                  <th>F 1J</th>
                  <th>F 2J</th>
                  <th>F 3J</th>
                  <th>F 4J</th>
                  <th>F 5J</th>
                  <th>F 6J</th>
                  <th>F 7J</th>
                  <th>F 8J</th>
                  <th>F 9J</th>
                  <th>F 10J</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tarifs été applicables 2019-2021</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">


              <!-- on peut mettre ici la taxe fixe pour l'été -->
                <div class="row">
                <div class="col-sm-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Charge fixe</label>
                      <input type="number" class="form-control" placeholder="Entrez le montant" v-model="fixSummerAmount"> 
                  </div>
                </div>
                
              </div>
              <button type="button" class="btn btn-primary mb-2" v-on:click="updateTaxeFixe()">Modifier</button> <br>
              <!-- on peut mettre ici la taxe fixe pour l'été -->


              <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Catégorie</th>
                  <th>Chalet Repas</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="pricing in pricingsEte" :key="pricing" >
                  <td>{{getCategoryLabel(pricing.categorie)}}</td>
                  <td>{{pricing.chaletRepas}}</td>
                  <td><button type="button" class="btn btn-sm bg-teal" data-toggle="modal" data-target="#modal-ete" v-on:click="selectPricing(pricing)"><i class="fas fa-pen"></i> </button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Catégorie</th>
                  <th>Chalet Repas</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Vaccances scolaires</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="vaccancesScolaires" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Période</th>
                  <th>Début</th>
                  <th>Fin</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  v-for="holiday in holidays" :key="holiday" >
                  <td>{{holiday.name}}</td>
                  <td>{{holiday.startDate}}</td>
                  <td>{{holiday.endDate}}</td>
                  <td><button type="button" class="btn btn-sm bg-teal" data-toggle="modal" data-target="#modal-edit-vaccance" v-on:click="selectHoliday(holiday)"><i class="fas fa-pen"></i> </button></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->



          <!-- /.card -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Taxes de séjour (NON TRAITÉ)</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              
               <!-- on peut mettre ici la taxe fixe pour l'été -->
                <div class="row">
                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Taxe séjour Hiver haute saison</label>
                        <input type="number" class="form-control" placeholder="Entrez le montant" v-model="winterHsTax"> 
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Taxe séjour Hiver basse saison</label>
                        <input type="number" class="form-control" placeholder="Entrez le montant" v-model="winterBsTax"> 
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>Taxe séjour Ete</label>
                        <input type="number" class="form-control" placeholder="Entrez le montant" v-model="summerTax"> 
                    </div>
                  </div>
                
              </div>
              <button type="button" class="btn btn-primary mb-2" v-on:click="updateTaxeFixe()">Modifier</button> <br>
              <!-- on peut mettre ici la taxe fixe pour l'été -->

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modification d'un tarif</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Chalet repas</label>
                    <!-- <ValidationObserver>
                      <ValidationProvider name="Amount"  rules="required" v-slot="{ errors }"> -->
                        <input type="number" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.chaletRepas"> <!-- pricingToUpdate.chaletRepas -->
                        <!-- <div slot-scope="{ errors }">
                         <input name="FirstName" v-model="firstName"  data-vv-delay="100" v-validate="'required'" class="form-control" type="text" id="firstName" placeholder=""  >
                          <span>{{ errors.first('FirstName') }}</span>
                        </div> -->
                        <!-- <span>{{ errors[0] }}</span> -->
                        
                      <!-- </ValidationProvider>
                    </ValidationObserver> -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Chalet Nuitée</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.chaletNuitee">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Basse saison repas</label>
                    <input type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.basseSaisonRepas">
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Basse saison Nuitée</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.basseSaisonNuitee">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Adhésion séjour</label>
                    <input type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.adhesionSejour">
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Adhésion week-end</label>
                    <input  type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.adhesionWeekEnd">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 1J</label>
                    <input  type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait1jour">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 2J</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait2jours">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 3J</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait3jours">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 4J</label>
                    <input type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait4jours">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 5J</label>
                    <input type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait5jours">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 6J</label>
                    <input type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait6jours">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 7J</label>
                    <input type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait7jours">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 8J</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait8jours">
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 9J</label>
                    <input  type="number" min="0" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait9jours">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Forfait 10J</label>
                    <input  type="number" min="0"  class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.forfait10jours">
                  </div>
                </div>
              </div>
         
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updatePrice(pricingToUpdate)">Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->




      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-ete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modification d'un tarif</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Chalet repas</label>
                    <!-- <ValidationObserver>
                      <ValidationProvider name="Amount"  rules="required" v-slot="{ errors }"> -->
                        <input type="number" class="form-control" placeholder="Entrez le montant" v-model="pricingToUpdate.chaletRepas"> <!-- pricingToUpdate.chaletRepas -->
                        <!-- <div slot-scope="{ errors }">
                         <input name="FirstName" v-model="firstName"  data-vv-delay="100" v-validate="'required'" class="form-control" type="text" id="firstName" placeholder=""  >
                          <span>{{ errors.first('FirstName') }}</span>
                        </div> -->
                        <!-- <span>{{ errors[0] }}</span> -->
                        
                      <!-- </ValidationProvider>
                    </ValidationObserver> -->
                  </div>
                </div>
              </div>
         
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updatePrice(pricingToUpdate)">Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->



          

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-edit-vaccance">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Modification de vaccance scolaire</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="row">
                <div class="col-sm-8">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Libellé</label>
                    <input type="text" class="form-control" placeholder="Entrez le libellé" v-model="holidayToUpdate.name">
                  </div>
                </div>
              </div>
              
                   <!-- Date range -->
                <div class="form-group">
                  <label>Période:</label>

                  <div class="input-group  col-sm-8">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservation" >
                  </div>
                  <!-- /.input group -->
                </div>


            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"  v-on:click="updateHoliday(holidayToUpdate)">Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from 'axios'

export default {
    name: "Pricing",
    props: {},
    // components: {
    //    ValidationProvider
    // },
    data: function() {
      return {
        pricingsEte: [],
        pricingsHiver: [],
        holidays: [],
        pricingToUpdate: {},
        holidayToUpdate: {},
        fixSummerAmount: 600,
        winterBsTax: 10,
        winterHsTax: 20,
        summerTax: 30,
        // amount: 0,
        // firstName: null,

      }
    },
    methods: {
      addProduct: function(event){
        alert('Ma fonction est bel et bien appelée and event name = '+ event.target.tagName)
      },
      selectPricing: function(pricing){
        this.pricingToUpdate = Object.assign({}, pricing)
      },
      selectHoliday: function(holiday){
        console.log('le holiday sélectionné',this.holidayToUpdate)
        this.holidayToUpdate =  Object.assign({}, holiday)
        var partStart = this.holidayToUpdate.startDate.match(/(\d+)/g)
        var partEnd = this.holidayToUpdate.endDate.match(/(\d+)/g)
        var start = moment(partStart[2]+'-'+partStart[1]+'-'+partStart[0])
        var end = moment(partEnd[2]+'-'+partEnd[1]+'-'+partEnd[0])

        function cb(start, end) {
            $('#reservation span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))
        }

        $('#reservation').daterangepicker({
            dateFormat: 'dd-mm-yy',
            startDate: start,
            endDate: end,
        }, cb)

        var vm = this
        //passing a callback
        $('#reservation').on('apply.daterangepicker', function(ev, picker) {
          vm.holidayToUpdate.startDate = picker.startDate.format('DD/MM/YYYY')
          vm.holidayToUpdate.endDate  = picker.endDate.format('DD/MM/YYYY')
          console.log('objet apres la mise a jour ', vm.holidayToUpdate)
        });
        cb(start, end)
      },

      updatePrice: function(pricingToUpdate){
        axios.put(process.env.VUE_APP_API_BASE_URL + '/pricing/'+pricingToUpdate.id, pricingToUpdate)
          .then(response => {
            this.pricingsEte = response.data
            console.log('le pricing a bien ete mis à jour : ',response.data)
            //maintenant on peut recuperer la liste des prix
            this.fetchPrices()
          })
          .catch(e => {
            this.errors.push(e.stack)
         })
      },
      fetchPrices(){
        axios.get(process.env.VUE_APP_API_BASE_URL + '/fetchPricing?periode=ete')
        .then(response => {
          this.pricingsEte = response.data
          console.log('la reponse est : ',response.data)
        })
        .catch(e => {
          this.errors.push(e.stack)
        })

        axios.get(process.env.VUE_APP_API_BASE_URL + '/fetchPricing?periode=hiver')
        .then(response => {
          this.pricingsHiver = response.data
        })
        .catch(e => {
          this.errors.push(e.stack)
        })
      },
      fetchHolidays(){
        axios.get(process.env.VUE_APP_API_BASE_URL + '/holiday')
        .then(response => {
          this.holidays = response.data
          console.log('la liste des vacances est : ',response.data)
        })
        .catch(e => {
          this.errors.push(e.stack)
        })
      },
      updateHoliday: function(){
        console.log('objet a observer ', this.holidayToUpdate)
        axios.put(process.env.VUE_APP_API_BASE_URL + '/holiday/'+this.holidayToUpdate.id, this.holidayToUpdate)
          .then(response => {
            this.holidays = response.data
            console.log('le pricing a bien ete mis à jour : ',response.data)
            //maintenant on peut recuperer la liste des prix
            this.fetchHolidays()
          })
          .catch(e => {
            this.errors.push(e.stack)
         })
      },
      getCategoryLabel: function(tag){
        var label=''  
                  
        if(tag==='zero_cinq') label = 'Petit enfant 0 à 5 ans'
        else if (tag==='six_neuf') label = 'Enfant de 6 à 9 ans inclus'
        else if (tag==='dix_douze') label = 'Grand enfant de 10 à 12 ans inclus'
        else if (tag==='treize_dixsept') label = 'Ados de 13 à 17 ans inclus'
        else if (tag==='dixhuit_vingtneuf') label = 'Etudiant de 18 à 29 ans inclus'
        else if (tag==='dixhuit_soixantequatre') label = 'Adulte de 18 à 64 ans inclus'
        else if (tag==='soixantecinq_plus') label = 'Ancien 65 et + '

        return label
      }
    },
    mounted(){

      this.fetchPrices(),
      this.fetchHolidays(),

      $("#example1").DataTable({
       "paging": false,
      // "lengthChange": false,
       "searching": false,
      "ordering": false,
      "bInfo" : false,
      language : {
        "zeroRecords": " "             
      },
     // "info": true,
      //"autoWidth": false,
    }),

      $("#example2").DataTable({
       "paging": false,
      // "lengthChange": false,
       "searching": false,
      "ordering": false,
      "bInfo" : false,
      language : {
        "zeroRecords": " "             
      },
     // "info": true,
      //"autoWidth": false,
    }),

      $("#vaccancesScolaires").DataTable({
       "paging": false,
      // "lengthChange": false,
       "searching": false,
      "ordering": false,
      "bInfo" : false,
      language : {
        "zeroRecords": " "             
      },
     // "info": true,
      //"autoWidth": false,
    })
    //Date range picker
     // $('#reservation').daterangepicker()
    }
}
</script>

<style>

.fab2 {
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   left: 50px;
   bottom: 50px;
}
.fab {
   width: 70px;
   height: 70px;
   background-color: red;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   transition: all 0.1s ease-in-out;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 50px;
   bottom: 50px;
}
 
.fab:hover {
   box-shadow: 0 6px 14px 0 #666;
   transform: scale(1.05);
}
</style>
