<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Details du participant</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Details du participant</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <h3 class="ml-3 mt-3">Participant</h3>

        <div class="card-body pb-0">
          <div class="row">
            <div class="card bg-light col-3">
              <div class="card-header text-muted border-bottom-0">
                <h6 class>{{user.nom}} {{user.prenom}} : {{user.dateNaissance}}</h6>
                <h6 class>{{user.adhesion}}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <!-- jai besoin de deux tableaux, un pour afficher les repas et un pour afficher les forfaits de ski -->

        <div class="row">
          <table id="example1" class="table table-bordered table-striped ml-3 mt-3 mr-5 mb-3">
            <thead>
              <tr>
                <th>Jour</th>
                <th>Déjeuner</th>
                <th>Dîner</th>
                <th>Nuit + Petit dej</th>
                <!-- <th>Action</th> -->
              </tr>
            </thead>
            <tbody>
              <tr v-for="meal in user.mealsPerDay" :key="meal">
                <td>{{formatDate(meal.day)}}</td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="meal.matin" />
                  </div>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="meal.midi" />
                  </div>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="meal.soir" />
                  </div>
                </td>
                <!-- <td>
                <button
                  type="button"
                  class="btn btn-sm bg-teal"
                  data-toggle="modal"
                  data-target="#modal-default"
                  v-on:click="selectPricing(pricing)"
                >
                  <i class="fas fa-pen"></i>
                </button>
                </td>-->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Jour</th>
                <th>Déjeuner</th>
                <th>Dîner</th>
                <th>Nuit + Petit dej</th>
                <!-- <th>Action</th> -->
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row ml-3 mb-3">
          <button
            type="button"
            class="btn btn-sm bg-teal"
            v-on:click="editMealsPerDay()"
          >Modifier le séjour</button>
        </div>

        <div class="row">
          <table
            id="example1"
            class="table table-bordered table-striped ml-3 mt-3 mr-5 mb-3 col-sm-6"
          >
            <thead>
              <tr>
                <!-- <th>Couleur</th> -->
                <th>Forfait</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="skipass in user.skipasses" :key="skipass">
                <!-- <td>{{skipass.passName}}</td> -->
                <td>{{ getPassLabel(skipass.passName)}}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal ml-2"
                    v-on:click="removeSkipass(skipass)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <!-- <th>Couleur</th> -->
                <th>Forfait</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="row ml-3 mb-3">
          <button
            type="button"
            class="btn btn-sm bg-teal"
            data-toggle="modal"
            data-target="#modal-skipass"
          >Ajouter un forfait</button>
        </div>
      </div>

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-skipass">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un forfait</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Choisir un forfait</label>
                    <select class="form-control" v-model="passName">
                      <option>Forfait 1J</option>
                      <option>Forfait 2J</option>
                      <option>Forfait 3J</option>
                      <option>Forfait 4J</option>
                      <option>Forfait 5J</option>
                      <option>Forfait 6J</option>
                      <option>Forfait 7J</option>
                      <option>Forfait 8J</option>
                      <option>Forfait 9J</option>
                      <option>Forfait 10J</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="addSkipass()"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
  name: "EditUserStay",
  props: ["user", "stay"],
  data: function() {
    return {
      passName: ""
    };
  },
  methods: {
    fetchUserStayDetails: function(event) {
      //localhost:8084/userstay/5f067c5dd0ce8e55ebc8e94e
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/userstay/"+this.user.id)
        .then(response => {
          this.user = response.data
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    editMealsPerDay: function(event) {

      // console.log('le user',this.user.id);
      // console.log('le stay', this.stay.id);
      // console.log('les meals',this.user.mealsPerDay);

      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/user/updateMeals", {
          // user: this.user.id,
          // stay: this.stay.id,
          meals: this.user.mealsPerDay,
        })
        .then(response => {
          //a la fin on doit réactualiser les informations de l'utilisateur
          this.fetchUserStayDetails()
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    addSkipass: function(event) {
      //on verifie les infos
      // console.log('le user', this.user.id)
      // console.log('le nom du pass', this.passName)
      // console.log('le code du pass',  this.getPassCode(this.passName))

      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/addSkiPass?userId="+this.user.id+"&passName="+this.getPassCode(this.passName))
        .then(response => {
          //a la fin on doit réactualiser les informations de l'utilisateur
          this.fetchUserStayDetails()
          this.passName = ''
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    removeSkipass: function(skipass) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/skipass/"+skipass.id)
        .then(response => {
          //a la fin on doit réactualiser les informations de l'utilisateur
          this.fetchUserStayDetails()
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    getPassLabel: function(passName) {
      var label;
      if (passName === "one_day") label = "Forfait 1 jour";
      if (passName === "two_days") label = "Forfait 2 jours";
      if (passName === "three_days") label = "Forfait 3 jours";
      if (passName === "four_days") label = "Forfait 4 jours";
      if (passName === "five_days") label = "Forfait 5 jours";
      if (passName === "six_days") label = "Forfait 6 jours";
      if (passName === "seven_days") label = "Forfait 7 jours";
      if (passName === "eight_days") label = "Forfait 8 jours";
      if (passName === "nine_days") label = "Forfait 9 jours";
      if (passName === "ten_days") label = "Forfait 10 jours";

      return label;
    },
    getPassCode: function(passName) {
      var label;
      if (passName === "Forfait 1J") label = "one_day";
      if (passName === "Forfait 2J") label = "two_days";
      if (passName === "Forfait 3J") label = "three_days";
      if (passName === "Forfait 4J") label = "four_days";
      if (passName === "Forfait 5J") label = "five_days";
      if (passName === "Forfait 6J") label = "six_days";
      if (passName === "Forfait 7J") label = "seven_days";
      if (passName === "Forfait 8J") label = "eight_days";
      if (passName === "Forfait 9J") label = "nine_days";
      if (passName === "Forfait 10J") label = "ten_days";

      return label;
    },
    formatDate: function(value) {
      return moment(value, "YYYY-MM-DD").format("DD/MM/YYYY");
    }
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
