<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Facture du groupe</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Facture</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="row mt-4 w-100">
          <img class="ml-5 mr-4" width="130" height="130" src="assets/logo.png" />

          <div class="column mt-2 w-75">
            <div class="row ">
              <div class="col-4">
                <h4>Facture du {{today}}</h4>
              </div>
            </div>

             <div class="row " v-if="billNumber">
              <div class="col-4">
                <h4>Facture N° {{billNumber}}</h4>
              </div>
            </div>

            <div class="row ">
              <div class="col-4 mt-6">
                <h6>Séjour du : {{group.payment.stay.startDate}} au : {{group.payment.stay.endDate}}</h6>
              </div>
            </div>

            <div class="row ">
              <div class="col-4 mt-6">
                <h6>
                  <b>FAMILLE / GROUPE : {{group.payment.user.nom}} {{group.payment.user.prenom}}</b>
                </h6>
              </div>
            </div>
            <div class="row ">
              <div class="col-4 mt-6">
                <h6>Courriel : {{group.payment.user.email}}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- /.card-header -->
        <div class="row card-body">
          <table id="example1" class="table table-bordered table-striped col-sm-4">
            <thead>
              <tr>
                <th style="min-width: 200px">Catégorie</th>
                <th style="min-width: 50px">Effectif</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Petit enfant 0 à 5 ans</td>
                <td>{{group.payment.cat1 }}</td>
              </tr>
              <tr>
                <td>Enfant de 6 à 9 ans inclus</td>
                <td>{{group.payment.cat2 }}</td>
              </tr>
              <tr>
                <td>Grand enfant de 10 à 12 ans inclus</td>
                <td>{{group.payment.cat3 }}</td>
              </tr>
              <tr>
                <td>Ados de 13 à 17 ans inclus</td>
                <td>{{group.payment.cat4 }}</td>
              </tr>
              <tr>
                <td>Etudiant de 18 à 29 ans inclus</td>
                <td>{{group.payment.cat5 }}</td>
              </tr>
              <tr>
                <td>Adulte de 18 à 64 ans inclus</td>
                <td>{{group.payment.cat6 }}</td>
              </tr>
              <tr>
                <td>Ancien 65 et +</td>
                <td>{{group.payment.cat7 }}</td>
              </tr>
            </tbody>
          </table>

          <div class="ml-5 col-sm-7">
            <table id="example1" class="table table-bordered table-striped col-sm-4">
              <thead>
                <tr>
                  <th style="min-width: 200px">Pension</th>
                  <th style="min-width: 100px">Quantité</th>
                  <th style="min-width: 150px">Prix Unitaire</th>
                  <th style="min-width: 150px">Prix Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nuitée</td>
                  <td>{{group.payment.nuitee}}</td>
                  <td>{{pricingsHiver[6].chaletNuitee}}</td>
                  <td>{{(group.payment.nuitee*pricingsHiver[6].chaletNuitee).toFixed(2)}}</td>
                </tr>
                <tr>
                  <td>Repas Adulte</td>
                  <td>{{group.payment.repasAdulte}}</td>
                  <td>{{pricingsHiver[6].chaletRepas}}</td>
                  <td>{{(group.payment.repasAdulte*pricingsHiver[6].chaletRepas).toFixed(2)}}</td>
                </tr>
                <tr>
                  <td>Repas enfant</td>
                  <td>{{group.payment.repasEnfant}}</td>
                  <td>{{pricingsHiver[2].chaletRepas}}</td>
                  <td>{{(group.payment.repasEnfant*pricingsHiver[2].chaletRepas).toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>

            <table id="example1" class="table table-bordered table-striped col-sm-4">
              <thead>
                <tr>
                  <th style="min-width: 200px">Pension basse saison</th>
                  <th style="min-width: 100px">Quantité</th>
                  <th style="min-width: 150px">PU</th>
                  <th style="min-width: 150px">PT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nuitée</td>
                  <td>{{group.payment.nuiteeBasseSaison}}</td>
                  <td>{{pricingsHiver[6].basseSaisonNuitee}}</td>
                  <td>{{(group.payment.nuiteeBasseSaison*pricingsHiver[6].basseSaisonNuitee).toFixed(2)}}</td>
                </tr>
                <tr>
                  <td>Repas Adulte</td>
                  <td>{{group.payment.repasAdulteBasseSaison}}</td>
                  <td>{{pricingsHiver[6].basseSaisonRepas}}</td>
                  <td>{{(group.payment.repasAdulteBasseSaison*pricingsHiver[6].basseSaisonRepas).toFixed(2)}}</td>
                </tr>
                <tr>
                  <td>Repas enfant</td>
                  <td>{{group.payment.repasEnfantBasseSaison}}</td>
                  <td>{{pricingsHiver[2].basseSaisonRepas}}</td>
                  <td>{{(group.payment.repasEnfantBasseSaison*pricingsHiver[2].basseSaisonRepas).toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>

            <table id="example1" class="table table-bordered table-striped col-sm-4">
              <thead>
                <tr>
                  <th style="min-width: 200px">Adhésion</th>
                  <th style="min-width: 200px">Nb Adultes</th>
                  <th style="min-width: 200px">Nb Enfants</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Saison</td>
                  <td>{{group.payment.otherTripsAdultes}}</td>
                  <td>{{group.payment.otherTripsEnfants}}</td>
                </tr>
                <tr>
                  <td>Séjour court(3 nuits)</td>
                  <td>{{group.payment.shortTripsAdultes}}</td>
                  <td>{{group.payment.shortTripsEnfants}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row justify-content-center">
          <table id="example1" class="table table-bordered table-striped col-sm-4">
            <tbody>
              <tr>
                <td>HEBERGEMENT/RESTAURATION</td>
                <td style="min-width: 200px;text-rights">{{group.payment.hebRestau }} €</td>
                <!-- normalement dans le but de renseigner cette partie je dois rajouter un nouveau 
                champ dans le paiement qui va garder uniquement le total pour les repas et le séjour-->
              </tr>
              <tr>
                <!-- //ce decompte nest pas si evident a faire. Qu'est ce qu'une consommation? -->
                <td>Consommations</td>
                <td>0 €</td>
              </tr>
              <tr>
                <td>Supplément</td>
                <td>{{group.payment.totalSupplement }} €</td>
              </tr>
              <tr>
                <td>Remise</td>
                <td>{{group.payment.totalRemise }} €</td>
              </tr>
              <tr>
                <!-- //mettre le total du montant des forfaits dans un champ -->
                <td>Forfaits Ski</td>
                <td>{{group.payment.forfaits }} €</td>
              </tr>
              <tr>
                <!-- //mettre le total du montant des adhesions dans un champ -->
                <td>Adhésion au club</td>
                <td>0 €</td>
              </tr>
              <tr>
                <td>TOTAL SEJOUR</td>
                <td>{{group.payment.coutTotalSejour }} €</td>
              </tr>
              <tr>
                <td>Acompte versé</td>
                <td>{{group.payment.totalAccompte}} €</td>
              </tr>
              <tr>
                <td>Net à payer</td>
                <td>{{group.payment.resteAPayer}} €</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row justify-content-center mb-4">
          <h6>En votre aimable règlement à l'ordre du schuss valentinois</h6>
        </div>


        <div class="row justify-content-center sm-6">
        <a href="#" class="btn btn-sm btn-primary" v-on:click="saveBill()">
                       Sauvegarder la facture
                    </a>
                    </div>

        <!-- /.card-body -->

        <div class="card-footer"></div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>


<script>
import axios from "axios";
import { degrees, PDFDocument, rgb, StandardFonts } from "pdf-lib";
const fs = require("fs");

// This should be a Uint8Array or ArrayBuffer
// This data can be obtained in a number of different ways
// If your running in a Node environment, you could use fs.readFile()
// In the browser, you could make a fetch() call and use res.arrayBuffer()
//const existingPdfBytes = require('/assets/modele_facture.pdf')

export default {
  name: "ShowBill",
  props: ["group", "user"],
  data: function() {
    return {
      pricingsEte: [],
      pricingsHiver: [],
      billNumber: null,
      groups: [],
      today: moment().format("DD/MM/YYYY")
    };
  },
  methods: {
    //il faut que je recupere le pricing pour lete et pour lhiver pour
    //afficher les bons tarifs sur la facture

    updatePayment(payment) {
      this.currentPayment = payment;
    },
     saveBill() {
      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/admin/saveBill", { 
          paymentId :this.group.payment.id, 
          chaletNuitee : this.pricingsHiver[6].chaletNuitee,
          chaletRepasAdulte : this.pricingsHiver[6].chaletRepas ,
          chaletRepasEnfant : this.pricingsHiver[2].chaletRepas,
          basseSaisonNuitee : this.pricingsHiver[6].basseSaisonNuitee,
          basseSaisonRepasAdulte : this.pricingsHiver[6].basseSaisonRepas,
          basseSaisonRepasEnfant : this.pricingsHiver[6].basseSaisonRepas
          })
        .then(response => {
          this.billNumber = response.data.billNumber;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

    },

    // fetchPayment: function() {
    //   axios
    //     .post(
    //       process.env.VUE_APP_API_BASE_URL + "/admin/fetchPayment" + pricingToUpdate.id,
    //       {
    //         user: this.group.payment.user,
    //         stay: this.group.payment.stay
    //       }
    //     )
    //     .then(response => {
    //       this.pricingsEte = response.data;
    //       console.log("le pricing a bien ete mis à jour : ", response.data);
    //       //maintenant on peut recuperer la liste des prix
    //       this.fetchPrices();
    //     })
    //     .catch(e => {
    //       this.errors.push(e.stack);
    //     });
    // },
    fetchPrices() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/fetchPricing?periode=ete")
        .then(response => {
          this.pricingsEte = response.data;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/fetchPricing?periode=hiver")
        .then(response => {
          this.pricingsHiver = response.data;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    }
  },
  mounted() {
    this.fetchPrices();
    console.log("le group passé en parametres est : ", this.group);
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
