<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href class="brand-link" v-on:click="showHome">
      <img
        src="dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8"
      />
      <span class="brand-text font-weight-light">Skimanager</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library-->

          <li class="nav-header">App Management</li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showHome">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Liste des séjours
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="addStay">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Créer un séjour
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open" hidden>
            <a href class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Infos du compte
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showPricing">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Gestion des tarifs
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showChalet">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Chalet
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showBills">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Compta
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showSkipass">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Forfaits
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a href class="nav-link active" v-on:click="showUsers">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Gestion des utilisateurs
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  name: "sidebar",
  props: {},

  methods: {
    showUsers: function(event) {
      this.$router.push({ name: "utilisateurs" });
    },
    addStay: function(event) {
      this.$router.push({ name: "ajouterSejour" });
    },
    showPricing: function(event) {
      this.$router.push({ name: "pricing" });
    },
    showHome: function(event) {
      this.$router.push({ name: "home" });
    },
    showChalet: function(event) {
      this.$router.push({ name: "chalet" });
    },
    showSkipass: function(event) {
      this.$router.push({ name: "skipass" });
    },
    showBills: function(event) {
      this.$router.push({ name: "factures" });
    }
  }
};
</script>
