<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Forfaits</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Forfaits</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Gestion des forfaits</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Catégorie</th>
                <th>F 1J</th>
                <th>F 2J</th>
                <th>F 3J</th>
                <th>F 4J</th>
                <th>F 5J</th>
                <th>F 6J</th>
                <th>F 7J</th>
                <th>F 8J</th>
                <th>F 9J</th>
                <th>F 10J</th>
                <th>Totaux</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Petit enfant 0 à 5 ans</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Enfant de 6 à 9 ans inclus</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Grand enfant de 10 à 12 ans inclus</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Ados de 13 à 17 ans inclus</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Etudiant de 18 à 29 ans inclus</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Adulte de 18 à 64 ans inclus</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Ancien 65 et +</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>

              <!-- <tr v-for="pricing in pricingsHiver" :key="pricing" >
                  <td>{{getCategoryLabel(pricing.categorie)}}</td>
                  <td>{{pricing.chaletRepas}}</td>
                  <td>{{pricing.chaletNuitee}}</td>
                  <td>{{pricing.basseSaisonRepas}}</td>
                  <td>{{pricing.basseSaisonNuitee}}</td>
                  <td>{{pricing.adhesionSejour}}</td>
                  <td>{{pricing.adhesionWeekEnd}}</td>
                  <td>{{pricing.forfait1jour}}</td>
                  <td>{{pricing.forfait2jours}}</td>
                  <td>{{pricing.forfait3jours}}</td>
                  <td>{{pricing.forfait4jours}}</td>
                  <td>{{pricing.forfait4jours}}</td>
              </tr>-->
            </tbody>
            <tfoot>
              <tr>
                <th>Catégorie</th>
                <th>F 1J</th>
                <th>F 2J</th>
                <th>F 3J</th>
                <th>F 4J</th>
                <th>F 5J</th>
                <th>F 6J</th>
                <th>F 7J</th>
                <th>F 8J</th>
                <th>F 9J</th>
                <th>F 10J</th>
                <th>Totaux</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";

export default {
  name: "Pricing",
  props: {},
  // components: {
  //    ValidationProvider
  // },
  data: function() {
    return {
      pricingsEte: [],
      pricingsHiver: [],
      holidays: [],
      pricingToUpdate: {},
      holidayToUpdate: {},
      fixSummerAmount: 600,
      winterBsTax: 10,
      winterHsTax: 20,
      summerTax: 30
      // amount: 0,
      // firstName: null,
    };
  },
  methods: {
    addProduct: function(event) {
      alert(
        "Ma fonction est bel et bien appelée and event name = " +
          event.target.tagName
      );
    },
    selectPricing: function(pricing) {
      this.pricingToUpdate = Object.assign({}, pricing);
    },
    selectHoliday: function(holiday) {
      console.log("le holiday sélectionné", this.holidayToUpdate);
      this.holidayToUpdate = Object.assign({}, holiday);
      var partStart = this.holidayToUpdate.startDate.match(/(\d+)/g);
      var partEnd = this.holidayToUpdate.endDate.match(/(\d+)/g);
      var start = moment(
        partStart[2] + "-" + partStart[1] + "-" + partStart[0]
      );
      var end = moment(partEnd[2] + "-" + partEnd[1] + "-" + partEnd[0]);

      function cb(start, end) {
        $("#reservation span").html(
          start.format("DD/MM/YYYY") + " - " + end.format("DD/MM/YYYY")
        );
      }

      $("#reservation").daterangepicker(
        {
          dateFormat: "dd-mm-yy",
          startDate: start,
          endDate: end
        },
        cb
      );

      var vm = this;
      //passing a callback
      $("#reservation").on("apply.daterangepicker", function(ev, picker) {
        vm.holidayToUpdate.startDate = picker.startDate.format("DD/MM/YYYY");
        vm.holidayToUpdate.endDate = picker.endDate.format("DD/MM/YYYY");
        console.log("objet apres la mise a jour ", vm.holidayToUpdate);
      });
      cb(start, end);
    },

    fetchSkipass() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/admin/generateMealsStats", {
          startDate: "2020/07/03",
          endDate: "2020/07/06"
        })
        .then(response => {
          this.pricingsEte = response.data;
          console.log("la reponse est : ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    }
  },
  mounted() {
    this.fetchSkipass(),
      this.fetchHolidays(),
      $("#example1").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#exampleMaster").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      }),
      $("#vaccancesScolaires").DataTable({
        paging: false,
        // "lengthChange": false,
        searching: false,
        ordering: false,
        bInfo: false,
        language: {
          zeroRecords: " "
        }
        // "info": true,
        //"autoWidth": false,
      });
    //Date range picker
    // $('#reservation').daterangepicker()
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
