<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Details du séjour</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Details du séjour</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <h3>Participants</h3>

        <div class="alert alert-danger alert-dismissible fade show ml-3 mr-3" role="alert" hidden>
          <strong>Une erreur est survenue!</strong> Veuillez réessayer.
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h5
          v-if="groups.length == 0"
          class="d-flex justify-content-center mt-2 mb-5"
        >Aucun participant inscrit pour ce séjour</h5>

        <div class="card-body pb-0" v-for=" (group,index) in groups" :key="group">
          <div class="row">
            <div class="card bg-light col-4">
              <div
                class="card-header text-muted border-bottom-0"
              >Groupe {{index+1}} ({{group.payment.user.nom}} {{group.payment.user.prenom}})</div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12">
                    <h6 class>Cout du séjour : {{group.payment.coutTotalSejour}}€</h6>
                    <h6 class>Accomptes versés: {{group.payment.totalAccompte}}€</h6>
                    <h6 class>Montant des remises : {{group.payment.totalRemise}}€</h6>
                    <h6 class>Montant dû : {{group.payment.resteAPayer.toFixed(2)}}€</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    data-toggle="modal"
                    data-target="#modal-add-discount"
                    v-on:click="updatePayment(group.payment)"
                  >Remise</button>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    style="margin-left: 1em;"
                    data-toggle="modal"
                    data-target="#modal-add-extracost"
                    v-on:click="updatePayment(group.payment)"
                  >Supplément</button>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    style="margin-left: 1em;"
                    data-toggle="modal"
                    data-target="#modal-default"
                    data-reglement="accompte"
                    v-on:click="updatePayment(group.payment)"
                  >Accompte</button>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal"
                    style="margin-left: 1em;"
                    data-toggle="modal"
                    data-target="#modal-default"
                    data-reglement="paiement"
                    v-on:click="updatePayment(group.payment)"
                  >Paiement</button>
                  <!-- je dois gerer ca comme une remise mais avec un type différent pour ne pas avoir trop de modeles inutilement -->
                </div>
                <div class="row mt-1">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary mr-2"
                    v-on:click="showPaymentDetail(group.payment.user)"
                  >
                    <!-- cette action doit nous permettre de voir le details de remises accomptes, paiement etc... et de pouvoir les supprimer au besoin -->
                    <i class="fas fa-eye"></i>
                  </button>
                  <a
                    href
                    class="btn btn-sm btn-primary"
                    data-toggle="modal"
                    data-target="#modal-add-userstay"
                    v-on="setCreator(group.payment.user)"
                  >Participant</a>
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    style="margin-left: 1em;"
                    v-on:click="editBill(group)"
                  >Editer la facture</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex align-items-stretch">
            <div v-for="user in group.users" :key="user" class="col-3 align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0"></div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col">
                      <h6 class>{{user.nom}} {{user.prenom}} : {{user.dateNaissance}}</h6>
                      <h6 class>{{user.adhesion}}</h6>
                      <h6 class>Age  : {{user.age}}</h6>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button
                    type="button"
                    class="btn btn-sm bg-teal ml-2"
                    v-on:click="showUserStayContent(user)"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal ml-2"
                    data-toggle="modal"
                    data-target="#modal-edit-userstay"
                    v-on:click="setUserStay(user)"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm bg-teal ml-2"
                    v-on:click="deleteUserStay(stay.id)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="fab" data-toggle="modal" data-target="#modal-add-user">+</div>

        <!-- <div class="fab2" v-on:click="showStayDetail"> + </div> -->

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">8</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" name="titre-modal">Versement d'un accompte</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Type de paiement</label>
                    <select class="form-control" v-model="depositToSave.typePaiement">
                      <option>Espèces</option>
                      <option>Chèque vaccance</option>
                      <option>Virement</option>
                      <option>Chèque</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label class="libelleAcompte">Montant de l'accompte</label>
                    <input
                      type="text"
                      class="form-control"
                      name="bookId"
                      v-model="depositToSave.montant"
                      placeholder="Entrez le montant"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>N° de chèque</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="depositToSave.numeroCheque"
                      placeholder="Entrez le numéro du chèque"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nom de la banque</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="depositToSave.banque"
                      placeholder="Entrez le nom de la banque"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Débiteur</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="depositToSave.debiteur"
                      placeholder="Entrez le nom du débiteur"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="saveDeposit('accompte')"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-add-extracost">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un supplément</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Type de supplément</label>
                    <select class="form-control" v-model="extraCostToSave.typeSupplement">
                      <option>Autre</option>
                      <option>Bar</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Montant du supplément</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="extraCostToSave.montant"
                      placeholder="Entrez le montant"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Libellé du supplément</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="extraCostToSave.libelle"
                      placeholder="Entrez le libellé du supplément"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="saveSupplement()"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- the modal contents start here -->
      <div class="modal fade" id="modal-add-discount">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un supplément</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Montant de la remise</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="discountToSave.montant"
                      placeholder="Entrez le montant"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Pourcentage de remise</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="discountToSave.pourcentage"
                      placeholder="Entrez le pourcentage"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Explication de la remise</label>
                    <input
                      type="text"
                      class="form-control"
                      v-model="discountToSave.explication"
                      placeholder="Entrez une explication"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="saveDiscount()"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- the modal to add a user completly and add him to the stay -->
      <div class="modal fade" id="modal-add-user">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un utilisateur</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le nom"
                      v-model="userToSave.nom"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Prénom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le prénom"
                      v-model="userToSave.prenom"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Date de naissance</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez la date de naissance"
                      v-model="userToSave.dateNaissance"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Téléphone</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le téléphone"
                      v-model="userToSave.telephone"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Email</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez l'adresse email"
                      v-model="userToSave.email"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Mot de passe</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le mot de passe email"
                      v-model="userToSave.motDePasse"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Adhésion</label>
                    <select class="form-control" v-model="userToSave.adhesion">
                      <option>Adhérent au Schuss</option>
                      <option>Adhérer au club</option>
                      <option>Adhérer pour un w-end</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Adresse</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez l'adresse"
                      v-model="userToSave.adresse"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Code Postal</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le code postal"
                      v-model="userToSave.codePostal"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Ville</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez la ville"
                      v-model="userToSave.ville"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="saveUserToStay(userToSave)"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- the modal to add a user completly and add him to the stay -->
      <div class="modal fade" id="modal-add-userstay">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un participant</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le nom"
                      v-model="userStayToSave.nom"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Prénom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le prénom"
                      v-model="userStayToSave.prenom"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Date de naissance</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez la date de naissance"
                      v-model="userStayToSave.dateNaissance"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Adhésion</label>
                    <select class="form-control" v-model="userStayToSave.adhesion">
                      <option>Adhérent au Schuss</option>
                      <option>Adhérer au club</option>
                      <option>Adhérer pour un w-end</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="saveUserStay(userStayToSave)"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- the modal to add a user completly and add him to the stay -->
      <div class="modal fade" id="modal-edit-userstay">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ajout d'un participant</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Nom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le nom"
                      v-model="userStayToEdit.nom"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Prénom</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez le prénom"
                      v-model="userStayToEdit.prenom"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Date de naissance</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Entrez la date de naissance"
                      v-model="userStayToEdit.dateNaissance"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Adhésion</label>
                    <select class="form-control" v-model="userStayToEdit.adhesion">
                      <option>Adhérent au Schuss</option>
                      <option>Adhérer au club</option>
                      <option>Adhérer pour un w-end</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                v-on:click="editUserStay(userStayToEdit)"
              >Confirmer</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>


<script>
import axios from "axios";
import { degrees, PDFDocument, rgb, StandardFonts } from "pdf-lib";
const fs = require("fs");

// This should be a Uint8Array or ArrayBuffer
// This data can be obtained in a number of different ways
// If your running in a Node environment, you could use fs.readFile()
// In the browser, you could make a fetch() call and use res.arrayBuffer()
//const existingPdfBytes = require('/assets/modele_facture.pdf')

export default {
  name: "StayDetail",
  props: ["stay", "user"],
  data: function() {
    return {
      userToSave: {},
      userStayToSave: {},
      userStayToEdit: {},
      extraCostToSave: {},
      depositToSave: {},
      discountToSave: {},
      currentPayment: {},
      creator: "",
      typeReglement: "",
      groups: [],
      errors: []
    };
  },
  methods: {
    showPaymentDetail(user) {
      this.$router.push({
        name: "details_paiement",
        params: { user: user, stay: this.stay }
      });
    },
    showUserStayContent(user) {
      this.$router.push({
        name: "details_participant",
        params: { user: user, stay: this.stay }
      });
    },
    setUserStay(user) {
      this.userStayToEdit = Object.assign(
        {},
        {
          id: user.id,
          nom: user.nom,
          prenom: user.prenom,
          dateNaissance: user.dateNaissance,
          adhesion: user.adhesion
        }
      );
    },
    setCreator(creatorId) {
      this.creator = creatorId.id;
    },
    updatePayment(payment) {
      this.currentPayment = payment;
    },
    saveUserToStay(userToSave) {
      //ici on veut ajouter un utilisateur sur un séjour
      // je ne sais pas comment jai pu supprimer cette methode
      // userToSave.creator = this.creator;
      userToSave.stay = this.stay.id;
      console.log("le userstay a sauvegarder est : ", userToSave);

      //on appelle le service pour ajouter le user avec les bon params
      axios
        .post(
          process.env.VUE_APP_API_BASE_URL + "/admin/createUserAndAddToStay",
          userToSave
        )
        .then(response => {
          // on rappelle la meme page avec le meme le bon id pour fetch les bonnes données
          //ceci devrait faire l'affaire vu que le fetch groups sera relancé et donc mettre a jour la page
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

      // ne pas oublier de vider le userToSave apres lavoir créé
      this.userToSave = {};
    },
    saveUserStay(userToSave) {
      //ne pas oublier de sauvegarder lid du stay dans le user avant de le persister
      userToSave.creator = this.creator;
      userToSave.stay = this.stay.id;
      console.log("le userstay a sauvegarder est : ", userToSave);

      //on appelle le service pour ajouter le user avec les bon params
      axios
        .post(
          process.env.VUE_APP_API_BASE_URL + "/user/addUserToStay",
          userToSave
        )
        .then(response => {
          // on rappelle la meme page avec le meme le bon id pour fetch les bonnes données
          //ceci devrait faire l'affaire vu que le fetch groups sera relancé et donc mettre a jour la page
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

      // ne pas oublier de vider le userToSave apres lavoir créé
      this.userStayToSave = {};
    },
    editUserStay(userToSave) {
      //ne pas oublier de sauvegarder lid du stay dans le user avant de le persister
      userToSave.creator = this.creator;
      userToSave.stay = this.stay.id;
      console.log("le userstay a modifier est : ", userToSave);

      //on appelle le service pour ajouter le user avec les bon params
      axios
        .put(
          process.env.VUE_APP_API_BASE_URL + "/userstay/" + userToSave.id,
          userToSave
        )
        .then(response => {
          // on rappelle la meme page avec le meme le bon id pour fetch les bonnes données
          //ceci devrait faire l'affaire vu que le fetch groups sera relancé et donc mettre a jour la page
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });

      // ne pas oublier de vider le userToSave apres lavoir créé
      this.userStayToEdit = {};
    },
    addProduct: function(event) {
      alert(
        "Ma fonction est bel et bien appelée and event name = " +
          event.target.tagName
      );
    },
    editBill: async function(group) {
      //console.log('the group to be passed to the new route ',group)
      this.$router.push({ name: "bill", params: { group: group } }); //on va devoir faire un modele de facture nous meme
      //il faut aussi penser a la possibilité dexporter les donner et aussi les importer au format excel etc....
    },
    fetchGroups: function() {
      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/admin/fetchGroupsOfStay", {
          stay: this.stay.id
        })
        .then(response => {
          this.groups = response.data;
          console.log("les groupes du séjours  ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    saveDeposit: function() {
      this.depositToSave.stay = this.currentPayment.stay.id;
      this.depositToSave.user = this.currentPayment.user.id;
      this.depositToSave.typeReglement = this.typeReglement;

      console.log("je veux voir le lobjet en params", this.depositToSave);

      if (this.depositToSave.typePaiement === "Espèces")
        this.depositToSave.typePaiement = "espece";
      else if (this.depositToSave.typePaiement === "Chèque vaccance")
        this.depositToSave.typePaiement = "cheque_vaccance";
      else if (this.depositToSave.typePaiement === "Virement")
        this.depositToSave.typePaiement = "virement";
      else if (this.depositToSave.typePaiement === "Chèque")
        this.depositToSave.typePaiement = "cheque";

      axios
        .post(
          process.env.VUE_APP_API_BASE_URL + "/admin/addDeposit",
          this.depositToSave
        )
        .then(response => {
          //si le deposit est bien créé, on peu rafraichir la liste des groupes pour mettre a jour linfo
          console.log("laccompte ajouté : ", response.data);
          this.depositToSave = {};
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    saveSupplement: function() {
      this.extraCostToSave.stay = this.currentPayment.stay.id;
      this.extraCostToSave.user = this.currentPayment.user.id;

      if (this.extraCostToSave.typeSupplement === "Autre")
        this.extraCostToSave.typeSupplement = "other";
      else if (this.extraCostToSave.typeSupplement === "Bar")
        this.extraCostToSave.typeSupplement = "bar";

      axios
        .post(
          process.env.VUE_APP_API_BASE_URL + "/admin/addExtraCost",
          this.extraCostToSave
        )
        .then(response => {
          //si le deposit est bien créé, on peu rafraichir la liste des groupes pour mettre a jour linfo
          console.log("le supplément ajouté : ", response.data);
          this.extraCostToSave = {};
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    saveDiscount: function() {
      this.discountToSave.stay = this.currentPayment.stay.id;
      this.discountToSave.user = this.currentPayment.user.id;

      axios
        .post(
          process.env.VUE_APP_API_BASE_URL + "/admin/addDiscount",
          this.discountToSave
        )
        .then(response => {
          //si le deposit est bien créé, on peu rafraichir la liste des groupes pour mettre a jour linfo
          console.log("la remise ajoutée : ", response.data);
          this.discountToSave = {};
          this.fetchGroups();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },

    fetchPayment: function(stay, user) {
      axios
        .post(
          process.env.VUE_APP_API_BASE_URL +
            "/admin/fetchPayment" +
            pricingToUpdate.id,
          {
            user: user,
            stay: stay
          }
        )
        .then(response => {
          this.pricingsEte = response.data;
          console.log("le pricing a bien ete mis à jour : ", response.data);
          //maintenant on peut recuperer la liste des prix
          this.fetchPrices();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    }
  },
  mounted() {
    this.fetchGroups();
    var vm = this
    $("#modal-default").on("show.bs.modal", function(e) {
      //get data-id attribute of the clicked element
      vm.typeReglement = $(e.relatedTarget).data("reglement");
      //populate the textbox
      //$(e.currentTarget).find('input[name="bookId"]').val(vm.typeReglement);
      if(vm.typeReglement ==='paiement'){
        //si cest un paiement on a deux ou 3 trucs a modifier
        //<h4 class="modal-title">Versement d'un accompte</h4>
       // $(e.currentTarget).find('h4[name=titre-modal]').val()
       // $(e.currentTarget).find('input[name="bookId"]').val(vm.typeReglement);
        
        var button  = $(event.relatedTarget); // Button that triggered the modal 
        var modal       = $(this);
        var title = button.data('title');
        modal.find('.modal-title').text("Versement d'un paiement")
        modal.find('.libelleAcompte').text("Montant du paiement")
      }else{
         var button  = $(event.relatedTarget); // Button that triggered the modal 
        var modal       = $(this);
        var title = button.data('title');
        modal.find('.modal-title').text("Versement d'un accompte")
        modal.find('.libelleAcompte').text("Montant de l'accompte")
      }
    });
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
