<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Séjours</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Séjours</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            <div v-for="stay in stays" :key="stay" class="col-3">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  <h2 class="lead">
                    <b>Séjour : {{ stay.name }}</b>
                  </h2>
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="lead">
                        <b>Code d'identification: {{ stay.code }}</b>
                      </h2>
                      <p class="text-muted text-sm">
                        <b>Identifiant:</b>
                        {{ stay.id }}
                      </p>
                      <p class="text-muted text-sm">
                        <b>Type de séjour :</b>
                        {{ stay.stayType === 'pension_complete'? 'Pension complète':'Gestion libre' }}
                      </p>
                      <p class="text-muted text-sm">
                        <b>Debut:</b>
                        {{ stay.startDate }}
                      </p>
                      <p class="text-muted text-sm">
                        <b>Fin:</b>
                        {{ stay.endDate }}
                      </p>
                      <p class="text-muted text-sm">
                        <b>Places réservées :</b>
                        {{ stay.reservedPlaces }}
                      </p>
                      <p class="text-muted text-sm">
                        <b>Places disponibles :</b>
                        {{ stay.totalPlaces }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm btn-primary" v-on:click="showStayDetail(stay)">
                      <i class="fas fa-user"></i> Editer le séjour
                    </a>
                    <button
                      type="button"
                      class="btn btn-sm bg-teal ml-2"
                      v-on:click="deleteStay(stay.id)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <div class="fab" v-on:click="redirectToAddStay()">+</div>

        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">7</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">8</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
//import crudStays from '@/api/stay/crud'
import axios from "axios";

export default {
  name: "stays",
  props: {},
  data() {
    return {
      stays: [],
      posts: [],
      errors: [],
      info: null
    };
  },
  // Fetches posts when the component is created.
  created() {
    // axios.get(`http://jsonplaceholder.typicode.com/posts`)
    // .then(response => {
    //   // JSON responses are automatically parsed.
    //   this.posts = response.data
    // })
    // .catch(e => {
    //   this.errors.push(e)
    // })
    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  },
  mounted() {
    this.fetchOrganiserStays();
  },
  methods: {
    log(msg) {
      console.log(msg);
    },
    redirectToAddStay: function(event) {
      // alert(
      //   "Ma fonction est bel et bien appelée and event name = " +
      //     event.target.tagName
      // );
      this.$router.push({ name: "ajouterSejour" });
    },
    deleteStay: function(stayId) {
      axios
        .post(process.env.VUE_APP_API_BASE_URL + "/admin/deleteStay", {
          stay: stayId
        })
        .then(response => {
          // JSON responses are automatically parsed.
          this.fetchOrganiserStays();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },

    showStayDetail: function(stay) {
      // alert('Je dois faire afficher la page de details du séjour '+ event.target.tagName)
      console.log("stay", stay);
      this.$router.push({ name: "detailSejour", params: { stay: stay } });
    },

    fetchOrganiserStays() {
      // crudStays.get('5efcb9c54381f7dba6e0fb88').then((data) => {
      // this.stays = data
      // console.log(JSON.stringify(this.stays))
      // })

      axios
        .get(
          // process.env.VUE_APP_API_BASE_URL + "/organiser/fetchStays?userID=5efcb9c54381f7dba6e0fb88"   //revoir cette logique a la connexion
          process.env.VUE_APP_API_BASE_URL + "/stay"
        )
        .then(response => {
          // JSON responses are automatically parsed.
          this.stays = response.data;
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    }
  }
};
</script>

<style>
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
