<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestion des utilisateurs</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Accueil</a>
              </li>
              <li class="breadcrumb-item active">Gestion des utilisateurs</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.card -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Liste des utilisateurs du système</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th   style="min-width: 80px">Date de naissance</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users" :key="user" >
                  <td>{{user.id}}</td>
                  <td>{{user.nom}}</td>
                  <td>{{user.prenom}}</td>
                  <td>{{user.dateNaissance}}</td>
                  <td>{{user.telephone}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.role}}</td>
                  <td><button type="button" class="btn btn-sm bg-teal"  v-on:click="deleteUser(user.id)"><i class="fas fa-trash"></i> </button></td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Liste des utilisateurs de séjour</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th   style="min-width: 80px">Adhésion</th>
                <th>Creator</th>
                <th>Stay</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in userstay" :key="user" >
                  <td>{{user.id}}</td>
                  <td>{{user.nom}}</td>
                  <td>{{user.prenom}}</td>
                  <td>{{user.adhesion}}</td>
                  <td>{{user.creator.id}}</td>
                  <td>{{user.stay.id}}</td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
               <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th   style="min-width: 80px">Adhésion</th>
                <th>Creator</th>
                <th>Stay</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->




    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import axios from "axios";

export default {
  name: "UserManagment",
  props: {},
  data: function() {
    return {
      users: [],
      userstay: [],
      errors:  [],
    };
  },
  methods: {
    fetchUsers() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/user")
        .then(response => {
          this.users = response.data;
          console.log("la utilisateurs est : ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    fetchUserStays() {
      axios
        .get(process.env.VUE_APP_API_BASE_URL + "/userstay")
        .then(response => {
          this.userstay = response.data;
          console.log("les users stays sont : ", response.data);
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
    deleteUser(userId) {
      axios
        .delete(process.env.VUE_APP_API_BASE_URL + "/user/"+userId)
        .then(response => {
          //on recharge la page apres suppression
          this.fetchUsers();
        })
        .catch(e => {
          this.errors.push(e.stack);
        });
    },
  },
  mounted() {
    $("#example1").DataTable({
       "paging": false,
      // "lengthChange": false,
       "searching": false,
      "ordering": false,
      "bInfo" : false,
      language : {
        "zeroRecords": " "             
      },
    });
    this.fetchUsers();
    this.fetchUserStays();
  }
};
</script>

<style>
.fab2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  left: 50px;
  bottom: 50px;
}
.fab {
  width: 70px;
  height: 70px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}
</style>
