<template>
  <div id="app">
   <!--  <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->

    <div class="wrapper">
    <!-- ./wrapper -->
      <navbar></navbar>
      <sidebar></sidebar>
      <!-- <pagecontent></pagecontent> -->
      <router-view />
      <pagefooter></pagefooter>

      
      
    </div>

  </div>
</template>


<script>

import sidebar from "@/components/SideBar.vue";
import navbar from "@/components/NavBar.vue";
import pagefooter from "@/components/Footer.vue";

//this.$router.push('/sejours')

export default {
  components: {
    sidebar,
    navbar, 
    // pagecontent,
    pagefooter
  }
};
</script>

<style>
</style>
